/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: rgb(230,230,230) url(/images/bg.jpg) no-repeat top left;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  padding-bottom: 40px;
  text-align: left;
}

code {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
/*   font-family: 'ChunkFiveRegular', Arial, sans-serif; */
  font-size: 100%;
  color: #333;
  text-transform: uppercase;
  margin: 0 0 0.1em 0;
  padding: 0;
}

h1 {
/*   margin-bottom: 1em; */
  line-height: 1em;
  color: #A61D45;
  font-size: 3.2em;
  font-weight: 900;
}

/* home page large "hello" style */
h1.hello {
  font-size: 4.55em;
  font-weight: 900;
  letter-spacing: 0;
}


h2 {
  font-size: 36px;
  color: #13444B;
  font-weight: 900;
}

.right_col h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  line-height: 1em;
  color: #A61D45;
  font-size: 25px;
  font-weight: 900;
  margin-top: 58px;
}

.right_col .bio {
  font-family: 'Bitter', serif;
  margin: 20px 0;
}

.right_col .bio p {
  padding: 0px;
  margin: 0;
  color: #19474E;
}

.right_col .bio img.end {
	float: right;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #19474E;
  font-size: 16px;
  font-weight: 900;
  padding-top: 1em;
  padding-bottom: 5px;
  line-height: 1.5;
}

.right_col h3 {
  color: #A1B087;
  font-size: 16px;
  padding-top: 0px;
}

.right_col h4 {
  color: #A61D45;
  font-size: 15px;
}

p {
  margin: 0.1em 0;
  margin-bottom: 1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #111;
}

p > a {
  color: #d33637;
  border-bottom: 1px dotted #d33637;
  -webkit-transition: color .2s ease-in-out;
}

div.page li > a {
  color: #d33637;
  border-bottom: 1px dotted #d33637;
  -webkit-transition: color .2s ease-in-out;
  line-height: 1.5em;
}

a:hover   {
  text-decoration: none;
}

p > a:hover   {
  color: #666;
  border-bottom-color: #666;
}

a:visited {  }

table {
  font-size: inherit;
  font: 100%;
}

section {
  margin-top: 1em;
}

em {
  font-weight: 700;
}

iframe {
  margin-top: 1em;
}

audio {
  margin-top: 1em;
}

blockquote
{
    padding-left:2em;
    padding-right: 3em;
    clear: left;
    padding-top: 1.5em;
    text-align: justify;
}


blockquote > p {
    display: block;
    font-size: 1.5em;
    line-height: 1.25em;
}

blockquote > footer {
  font-size: 0.75em;
  font-style: italic;
  padding-top: 1em;

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
  background-color: rgba(255,255,255,0.85);
  padding: 2em;
}
.container-narrow > hr {
  margin: 30px 0;
}

.image-holder {
  width: 200px;
  margin-top: 1em;
}

.image-details {
  margin-top: 2em;
  line-height: 1.3em;
  max-width: 500px;
  margin-left: 2em;
}

.image-details span[itemprop=name] {
  font-weight: 700;
}

.site-name {
  display: inline-block;
  margin-bottom: 0;
}

.contact-block {
  border-bottom: 2px solid rgba(0,0,0,0.8);
  margin-bottom: 3em;
  padding-bottom: 2em;
  display: inline-block;
  width: 100%;
}

.footer {
  text-align: left;
  font-size: 0.5em;
  margin: 0 auto;
  line-height: 1.5em;
  padding: 2em;
}

.footnotes {
  margin-top: 10em;
  font-size: 0.75em;
}


.page {
  clear: left;
}

.left_col img {
  width: 100%;
}

/*
.page img {
  width: 200px;
  float: right;
  margin-bottom: 2em;
  margin-left: 1em;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}*/

/*
.page img.profile {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
*/

.page h2 {
  clear: both;
}


.find_us img {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.container-fluid {
	max-width: 960px;
	margin: 0 auto;
}

.site-title {
	padding: 20px 0;
	font-size: 16px;
	text-align: center;
}

.site-title a {
	color: #A61D45;
}

.header {
	text-align: center;
}

.indent {
	padding-left: 50px;
}


/* standard main page contents container */
.content {
	/*min-height: 900px;
  max-height: 1030px;
  overflow-y: auto;*/
  margin-bottom: 50px;
}

.right_col {
	border-left: 2px solid #D88F89;
	padding-left: 40px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul, ol {
  margin-left: 2em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

footer .credit {
  font-size: 0.5em;
}

#meet-us li.person {
  list-style: none;
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}

.meetus-bio {
  width: 75%;
  margin-left: 1em;
}


ul.sermon-list {
  margin-left: 0;
  padding-top: 1em;
}

ul.sermon-related {
  font-size: 0.75em;
}

li.sermon {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  list-style: none;
}

li.sermon:last-child {
  border-bottom: none;
}

li.sermon-short {

  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}

ul > li.sermon-short {
  list-style: none;
}

/*****************************************************************************/
/*
/* Menus
/*
/*****************************************************************************/
nav.main {
	border-left: 6px solid #A1B087;
	border-right: 6px solid #A1B087;
/*	width: intrinsic;*/
	margin-bottom: 60px;
  	height: 40px;
}

nav.main ul {
	margin: 0 0 0 0;
	/*width: intrinsic;*/
}

nav.main li {
	background: #fff;
	float: left;
	list-style: none;
	padding: 10px 35px;
	text-transform: uppercase;
}

nav.main li.dropdown {
  width: 25%;
}

nav.main li a {
	color: #636466;
	font-weight: 700;
}

nav.main li a.one:hover { color: #134446; }
nav.main li a.two:hover { color: #a1b087; }
nav.main li a.three:hover { color: #d88f89; }
nav.main li a.four:hover { color: #a61d45; }



/* Sub Navigation Modifications */
.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.dropdown-menu > li {
  padding: 5px inherit !important;
  font-size: 15px;
}

.dropdown-menu > li > a:hover {
  background: none;
  color: #A61D45;
}

.dropdown-menu > li >a {
  min-width: 200px;
}

#fat-footer-menu {
  text-transform: uppercase;
}

#fat-footer-menu ul {
  list-style: none;
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer {
	background-color: #19474E;
	background-image: url(/images/footer-bg.png);
	background-repeat: repeat-x;
	min-height: 317px;
	padding-top: 10px;
	color: #fff;
	font-size: 14px;

	-moz-box-shadow: 0 0 5px 5px #999;
	-webkit-box-shadow: 0 0 5px 5px#999;
	box-shadow: 0 0 5px 5px #999;
}

footer .top {
	height: 75px;
	padding-top: 15px;
}

footer nav ul {
	overflow: auto;
	margin-left: -20px;
}

footer ul {
	list-style: none;
	margin: 0;
	overflow: auto;
}

/* Main navigation footer */
footer nav li {
	float: left;
	padding-right: 20px;
	margin-left: 20px;
	border-right: 1px solid #fff;
}

li:last-child { border: none;  }

footer nav li a {
	color: #fff;
	font-size: 12px;
}

footer nav li a:hover {
	color: #F2C59B;
}

/* sub footers */
footer ul.sub a {
	color: #3F7073;
	font-size: 14px;
	margin-bottom: 5px;
}

footer ul.sub a:hover {
	color: #A1AF87;
}

.site-title {
	color: #A61D45;
	text-transform: uppercase;
}

ul.involved_list {
	list-style: none;
	margin: 0 0 10px 0;
	overflow: auto;
}

ul.involved_list li {
	color: #A1B087;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
}

ul.involved_list li:after {
	content: "//";
/* 	padding-left: 10px; */
}

/* MEDIA QUERIES */


@media (max-width: 767px) {
	.empty {
		display: none !important;
	}

	footer nav ul {
		margin-left: 0px;
	}

	footer ul.sub a, footer .contacts {
		padding: 0 20px;
	}

	footer .contacts {
		margin-top: 20px;
	}

	.container-fluid.top {
		padding-top: 5px;
	}
}

/*****************************************************************************/
/*
/* Page Contact Section
/*
/*****************************************************************************/

div.contact {
  margin-bottom: 3em;
}

span.contact {
  width: 100%;
  display: block;
  margin-top: 0.5em;
}

img.profile {
  margin-top: 10px;
}

.page td {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}

/*****************************************************************************/
/*
/* Meet Us Section
/*
/*****************************************************************************/

#meet-us span[itemprop=bio] {
  padding-top: 1em;
  display: inline-block;
}

/*****************************************************************************/
/*
/* Calendar
/*
/*****************************************************************************/

.calendar {

}

.calendar ul {
  list-style: none;
  margin-left: 0;
}

.calendar li {
  border-bottom: 1px dotted #aaa;
  padding-bottom: 2em;
  width: 100%;
  margin-top: 1em;
  height: 7em;
}

.calendar li > div {
  float: left;
  padding: 5px;
}

.calendar li > div.date {
  width: 60px;
}

span.day {
  display: inline-block;
  width: 25px;
}

span.month {
  display: inline-block;
  width: 35px;
}

span.start {
  display: inline-block;
  width: 60px;
  font-size: 0.74em;
}

.calendar li > div.event {
  width: 260px;
}

span.title {
  width: 100%;
  display: inline-block;
  font-weight: 900;
}

span.event-content {
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  height: 3em;
  overflow: hidden;
}

span.event-where {
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
  height: 1.2em;
  overflow: hidden;
}

.calendar li > div.event-time {
  padding-top: 10px;

}

.calendar li > div.event-title {
  padding-top: 10px;
  font-weight: bold;
}

#events-block h2 {
  font-size: 1.5em;
  letter-spacing: 3px;
  line-height: 1em;
  color: #A61D45;
  font-size: 25px;
  font-weight: 900;
}

.alert.alert-info {
  background-color: #A1B087;
  color: #19474E;
  border-color: #A1B087;
  text-shadow: none;
}

.slot {
  border-left: 5px solid #A61D45;
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 20px;
  line-height: 1em;
}

.sermon-colour {
  color: #A1B087;
}

a.sermon-colour {
  border-bottom: 1px dotted #A1B087;
}

a.sermon-colour:hover, a.sermon-colour:focus {
  color: #A1B087;
}

.sermon-slot {
  border-left: 5px solid #A1B087;
}

.slot h3 {
  padding: 0;
}

#homepage h2 {
  margin-top: 1em;
}

h3.homepage {
  color: #A61D45;
}

.homepage a {
  color: #d33637;
  border-bottom: 1px dotted #d33637;
  -webkit-transition: color .2s ease-in-out;
}

h2.events {
  margin-top: 0;
}

p.welcome {
  max-width:460px;
  text-align: justify;
}

.news-photo {
  max-width: 200px;
  max-height: 300px;
}

ul.news-list {
  margin-left: 0;
  padding-top: 1em;
}

li.news {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  list-style: none;
}

li.news:last-child {
  border-bottom: none;
}

ul.ticket {
  margin-left: 0;
  padding-top: 1em;
  padding-bottom: 2em;
  list-style: none;
}

ul.ticket li {
  float: left;
  margin-right: 1em;
}

.list-group-item {
  opacity: 0.75;
  display: inline-block;
  width: 100%;
}

.list-group-item-header {
  font-weight: 600;
}

.list-group-item-footer {
  font-weight: 600;
  font-size: 0.8em;
}

.list-group-item .speaker {
  font-weight: 600;
  text-transform: uppercase;
  background-color: #A1B087;
  padding: 2px 8px;
  display: inline;
}

.list-group-item .title {
  font-weight: 400;
  display: inline;
}

.events .list-group-item-header  {
  color: #A61D45;
}

.sermons .list-group-item-header  {
  color: #A1B087;
}


@media print {
  nav, footer {
    display: none;
  }


  .noprint {
    display: none;
  }
}

audio, canvas, video {max-width:100%;}

img[alt='PDF'] {
  width: auto;
}

.btn-danger {
  background-color: #A61D45;
  border-color: #A61D45;
}

body.home_cogges_church_data_protection_policy {
  background: rgb(230,230,230);
}