/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  padding-bottom: 40px;
  text-align: left;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'ChunkFiveRegular', Arial, sans-serif;
  font-size: 100%;
  color: #333;
}

h1 {
  margin-bottom: 1em;
  font-size: 4.55em;
  letter-spacing: 3px;
  line-height: 1em;
}


h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  line-height: 1em;
}


h3 {
  margin-bottom: 0;
  font-size: 1.5em;
  letter-spacing: 3px;
  line-height: 1em;
}


p {
  margin: 1em 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #111;
}

p > a {
  color: #d33637;
  border-bottom: 1px dotted #d33637;
  -webkit-transition: color .2s ease-in-out;

}

a:hover   {
  text-decoration: none;
}

p > a:hover   {
  color: #666;
  border-bottom-color: #666;
}

a:visited {  }

table {
  font-size: inherit;
  font: 100%;
}

section {
  margin-top: 3em;
}



iframe {
  margin-top: 2em;
}

audio {
  margin-top: 2em;
}

blockquote
{
    padding-left:2em;
    padding-right: 3em;
    clear: left;
    padding-top: 1.5em;

}

blockquote:before {
    display: block;
    font-size: 7em;
    content: "“";
    height: 1px;
    margin-left: -0.55em;
    position:relative;
    top:0px;
}

blockquote:after {
    display: block;
    font-size: 7em;
    content: "”";
    height: 0.3em;
    position: relative;
    top: 0.3em;
    right: -4em;
}

blockquote > p {
    display: block;
    font-size: 1.5em;
    line-height: 1.25em;
}

blockquote > footer {
  font-size: 0.75em;
  font-style: italic;

}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
  background-color: rgba(255,255,255,0.85);
  padding: 2em;
}
.container-narrow > hr {
  margin: 30px 0;
}

.image-holder {
  width: 200px;
  margin-top: 1em;
}

.image-details {
  margin-top: 2em;
  line-height: 1.3em;
}

.image-details span[itemprop=name] {
  font-weight: 700;
}

.site-name {
  display: inline-block;
  margin-bottom: 0;
}

.contact-block {
  border-bottom: 2px solid rgba(0,0,0,0.8);
  margin-bottom: 3em;
  padding-bottom: 2em;
  display: inline-block;
  width: 100%;
}

.footer {
  text-align: left;
  font-size: 0.5em;
  margin: 0 auto;
  line-height: 1.5em;
  padding: 2em;
}

.footnotes {
  margin-top: 10em;
  font-size: 0.75em;
}

#page {
  clear: left;
}

#page img {
  width: 200px;
  float: right;
  margin-bottom: 2em;
  margin-left: 1em;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#page h2 {
  clear: both;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul {
  margin-left: 2em;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

li.sermon {
  list-style-image: url("/images/glyphicons_355_bullhorn.png");
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

li.sermon:last-child {
  border-bottom: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

/* calendar */

#events-block {
  overflow: hidden;
  margin-top: 4em;
}

#calendar .event-title {
  font-weight: bold;
  padding-left: 1em;
  padding-top: 0.5em;
  overflow-x: hidden;
  font-size: 2em;
  line-height: 2em;
  width: 20em;
  float: left;
}

#calendar .event-time {
  font-weight: bold;
  padding-left: 1em;
  padding-top: 0;
  overflow-x: hidden;
  font-size: 2em;
  line-height: 2em;
  width: 20em;
  float: left;
}

#calendar {

}
#calendar .event-date {
  font-weight: bold;
}


#calendar ul, #calendar li{
    margin:0;
    padding:0;
    list-style:none;
}

#calendar, #calendar li{
    width:50em;
    height:10em;
    overflow:hidden;
    line-height: 1.5em;
    margin-left: 1px;

}
span#prevBtn{}
span#nextBtn{}

/* calendar numeric controls */

ol#controls{
    margin:1em 0;
    padding: 0;
    height:11px;
}

ol#controls li{
    margin:0 10px 0 0;
    padding:0;
    float:left;
    list-style:none;
    height:11px;
    width:11px;
    background: url('../images/gray-bullet.png') no-repeat;
}

ol#controls li a{
    height:10px;
    position: absolute;
    left: -1000px;
    color:#555;
    padding:0 10px;
    text-decoration:none;
}
ol#controls li.current {
    background: url('../images/green-bullet.png') no-repeat;
}

ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

footer .credit {
  font-size: 0.5em;
}

#meet-us li.person {
  list-style: none;
  margin-bottom: 2em;
  display: inline-block;
  width: 100%;
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#calendar .date {
  width: 130px; height: 160px;
  background: #fcfcfc;
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  float: left;
}

#calendar .date p {
    font-family: 'ChunkFiveRegular', Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
    line-height: 103px;
    margin-top: 0;
  }

#calendar .date p span {
    background: #090909;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: block;
    border-top: 3px solid #090909;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    padding: 6px 0 6px 0;
    line-height: 1em;
  }

@-moz-document url-prefix() {
    .date {
        padding: 16px 0 0 0;
    }
    .date p span {
      padding: 9px 0 3px 0;
    }
}