---
layout: default
title: "St Mary's Cogges"
photo_credit: "Tim Partridge"
vimeo_video_id: "108705794"

---
<div id="homepage">
  <div class="span2"><!-- padding --></div>

  <div class="span8">

    <div class="indent">
      <h1 class="hello">HELLO!</h1>
      <p class="welcome">Welcome to St Mary's Cogges! I hope that you will enjoy getting to know our Church family. We are committed to sharing the good news about Jesus Christ with our community through our worship Services, our community  ministries and our personal witness. We try to create space within our times of corporate worship to ensure that we hear what God is saying to us today and leading us into tomorrow.  Faith is the call to adventurous living and we hope that you will join us in the adventure.</p>
    </div>

    <img src="images/simon.png" alt="simon" width="194" height="93">
    <p class="indent">Rev Simon Kirby<br/><em>Vicar of Cogges, North and South Leigh</em></p>

    <h3 class="hello">Cogges Life - 12th October 2014</h3>

    <iframe src="//player.vimeo.com/video/{{page.vimeo_video_id}}?title=0&amp;byline=0&amp;portrait=0&amp;color=c41440" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/{{page.vimeo_video_id}}"></a>

    <!--
    <div class="indent">
      <h2 class="homepage">Upcoming Events:</h2>
      <div class="slot">
        <h3>{{page.slot1_headline}}</h3>
        <p>{{page.slot1_when}}<br/>
           {{page.slot1_where}}<br/>
           {{page.slot1_description}}<br/>
         </p>

      </div>
      <div class="slot">
        <h3>{{page.slot2_headline}}</h3>
        <p>{{page.slot2_when}}<br/>
           {{page.slot2_where}}<br/>
           {{page.slot2_description}}<br/>
         </p>

      </div>
      <div class="slot">
        <h3>{{page.slot3_headline}}</h3>
        <p>{{page.slot3_when}}<br/>
           {{page.slot3_where}}<br/>
           {{page.slot3_description}}<br/>
         </p>
      </div>
      See more <a href="/events.html">Services and Events</a>.
    -->


      <h2 class="sermon-colour">Latest Sermons:</h2>
      {% for post in site.categories.sermon limit:2 %}
      <div class="slot sermon-slot">
        {% if post.series and post.series != "" %}
          <h3><a class="sermon-colour" href="{{ post.url }}">{{ post.series }} : {{ post.title }}</a></h3>
        {% else %}
          <h3><a class="sermon-colour" href="{{ post.url }}">{{ post.title }}</a></h3>
        {% endif %}
        <p>
            {{ post.speaker }} - {{ post.date | date_to_string }}<br/>
        </p>
      </div>
      {% endfor %}
      See the <a href="/sermons.html">full list of sermons</a>.

    </div>


  </div>
</div>


