---
layout: one_column_page
title:  "Sermons"
group: "grow"
---

<!--
<h3>Sermon Series -- Autumn 2016</h3>

<p>
During the Autumn (4th September to 9th October) there will be a series of sermons at the 9.15am, 10.30am and 6.30pm services on
<a href="./sermon-series-autumn2016.html">Living God's Rhythms</a>.
</p>
-->

<h3>Past Sermons</h3>

<ul class="sermon-list">
  {% for post in site.posts limit:500 %}
    {% if post.category != "news" %}
      <li class="sermon">
      	{{ post.date | date_to_string }} -
      	{% if post.series and post.series != "" %}
        		<a href="{{ post.url }}" title="{{ post.series }} : {{ post.title }}">{{ post.series }} : {{ post.title }}</a>
        {% else %}
            {% if post.title != "" %}
        		  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% else %}
              <a href="{{ post.url }}" title="Sermon">Sermon</a>
            {% endif %}
        {% endif %}
      	{% if post.speaker and post.speaker != "" %}
            ({{post.speaker}})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
