---
layout: default
---
<script type="text/javascript" src="/js/easySlider1.7.js"></script>



{{content}}

<section>
	<h3>Upcoming Cogges Events</h3>

	<div id="events-block">
		<div id="calendar"><p>Loading...</p></div>
	</div>

	<script type="text/javascript">
	    $(document).ready(function(){
	        $("#calendar").easySlider({
	            auto: true,
	            continuous: true,
	            numeric: true,
	            speed: 500,
	            pause: 6000,
	        });
	    });
	</script>
</section>

