---
layout: default
---
<h2>{{ page.title }}</h2>


{% if page.contact %}
<div class="contact-block">
	<div class="image-holder pull-left">
		{% if page.contact_photo %}
		<img class="circular" itemprop="photo" src="{{page.contact_photo}}" alt="{{page.contact}}">
		{% else %}
		<img class="circular" itemprop="photo" src="/images/logo.jpg" alt="{{page.contact}}">
		{% endif %}
	</div>
	<div class="image-details pull-left">
        <span itemprop="name">{{page.contact}}</span><br/>
        {% if page.contact_role %}
        <span itemprop="title">{{page.contact_role}}</span><br/>
        {% endif %}
	    <span itemprop="email"><a href="mailto:{{page.contact_email}}">{{page.contact_email}}</a></span><br/>
	    {% if page.contact_phone %}
	    <span itemprop="telephone"><a href="tel:{{page.contact_phone}}">{{page.contact_phone}}</a></span><br/>
        {% endif %}
		{% if page.contact_twitter %}
	    <span itemprop="twitter"><a href="http://twitter.com/{{page.contact_twitter}}">@{{page.contact_twitter}}</a></span><br/>
        {% endif %}
	</div>
	{% if page.quote %}
	<blockquote class="quote">
		<p>{{page.quote}}</p>
		{% if page.quote_attribution %}
		<footer>— {{page.quote_attribution}}</footer>
		{% endif %}
	</blockquote>
	{% endif %}
</div>

{% endif %}

<div id="page">
{{ content }}
</div>
