---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div id="post">
	{% if page.series %}
	Series: <span class="series">{{page.series}}</span><br/>
	{% endif %}
	<span class="speaker">{{page.speaker}}</span><br/>
	<section>
		<h3>Bible Passage</h3>
		<span class="passage">
			<ul>
			{% for passage in page.bible_passages %}
			<li><a href="http://www.biblegateway.com/passage/?search={{passage}}&amp;version=NIVUK" target="_blank">
				{{passage}}
			</a></li>
			{% endfor %}
			</ul>
		</span><br/>
	</section>

	<section>
		<h3>Listen</h3>
		<audio controls>
		  <source src="{{page.audio}}" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
	</section>

	{% if page.youtube_videos %}
	<section>
		<h3>Watch</h3>
		{% for video in page.youtube_videos %}
		<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/{{video}}" allowfullscreen frameborder="0">
		</iframe>
		{% endfor %}
	</section>
	{% endif %}

	{% if page.files %}
	<section>
		<h3>Presentation Files & Videos</h3>
		<ul>
		{% for f in page.files %}
		<li><a href="{{f}}">{{f}}</a></li>
		{% endfor %}
		</ul>
	</section>
	{% endif %}

	{{content}}
</div>

