---
layout: default
---
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

<div class="page {{ page.title | replace:' ','_' | downcase }}">

	<div class="row-fluid content">
        <div class="span6 left_col">
        	<h2>{{ page.title }}</h2>
        	<p class="meta">{{ page.date | date_to_string }}</p>

			<div id="post">
				{% if page.series %}
				Series: <span class="series">{{page.series}}</span><br/>
				{% endif %}

				<section>
					<h3>Read</h3>
					<span class="passage">
						<ul>
						{% for passage in page.bible_passages %}
						<li><a href="http://www.biblegateway.com/passage/?search={{passage}}&amp;version=NIVUK" target="_blank">
							{{passage}}
						</a></li>
						{% endfor %}
						</ul>
					</span><br/>
				</section>

				{% if page.audio %}
				<section>
					<h3>Listen</h3>
					<audio controls>
					  	<source src="{{page.audio}}" type="audio/mpeg">
					</audio>
				</section>
				{% endif %}

				{% if page.youtube_videos %}
				<section>
					<h3>Watch</h3>
					{% for video in page.youtube_videos %}
					<iframe class="youtube-player" type="text/html" width="460" height="259" src="http://www.youtube.com/embed/{{video}}" allowfullscreen frameborder="0">
					</iframe>
					{% endfor %}
				</section>
				{% endif %}

				{% if page.slides and page.slides|first != "" %}
				<section>
					<h3>Slides</h3>
					<ul>
					{% for f in page.slides %}
					<li><a href="{{f}}" title="slides for {{page.title}}">{{f}}</a></li>
					{% endfor %}
					</ul>
				</section>
				{% endif %}

				<section>
					<h3>Download</h3>
					<ul>
					{% for f in page.files %}
					<li><a href="{{f}}" title="download for {{page.title}}">{{f|remove_first:'http://media.coggesparish.com/sermons/'}}</a></li>
					{% endfor %}
					{% if page.audio %}
					<li><a href="{{page.audio}}" title="audio for {{page.title}}">{{page.audio|remove_first:'http://media.coggesparish.com/sermons/'}}</a></li>
					{% endif %}
					</ul>
				</section>


				{{content}}

				{% if page.series %}
				<section>
					<h3>Also in the {{page.series}} series</h3>
			        {% assign sermons_empty = true %}
			        <ul class="sermon-list sermon-related">
					    {% for post in site.posts reversed %}
						  	{% if post.series == page.series %}
						  		{% assign sermons_empty = false %}
						    	<li class="sermon-short">
						        	{% if post.url == page.url %}
						        		<strong>{{ post.date | date_to_string }} - {{ post.title }} ({{post.speaker}})</strong>
						        	{% else %}
						      			<a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
						      			({{post.speaker}})
						      		{% endif %}
							    </li>
							{% endif %}
					    {% endfor %}
					</ul>
				</section>
				{% endif %}
			</div>
		</div>


		{% if page.speaker %}
		<div class="span6 right_col">
			<h2>Speaker</h2>
            <h3><span itemprop="name">{{page.speaker}}</span></h3>


	        {% assign speaker = false %}
		    {% for person in site.pages%}
			  	{% if person.contact == page.speaker %}
			  		{% assign speaker = person %}
				{% endif %}
		    {% endfor %}

		   	{% if speaker != false %}
				{% if speaker.contact_bio %}
	            <div class="bio">
		            <img src="/images/quote-begin.png" alt="quote-begin" width="23" height="13">
		            <p>{{speaker.contact_bio}}</p>
		            <img src="/images/quote-end.png" alt="quote-end" class="end" width="22" height="13">
	            </div>
				{% endif %}

				{% if speaker.contact_involved_with %}
	            <h4>{{speaker.contact|split:" "|first}} is involved with...</h4>
	            <ul class="involved_list">
	            	{% for r in speaker.contact_involved_with %}
		            	<li>{{r}}</li>
		            {% endfor %}
	            </ul>
	            {% endif %}

				{% if speaker.contact_photo %}
					<img class="profile" itemprop="photo" src="{{speaker.contact_photo}}" alt="{{speaker.contact}}" width="101" height="100">
				{% else %}
					<img class="profile" itemprop="photo" src="/images/logo.jpg" alt="{{page.contact}}" width="101" height="100">
				{% endif %}

				{% if speaker.contact_email %}
				    <span class="contact" itemprop="email">
				    	<a href="mailto:{{speaker.contact_email}}">{{speaker.contact_email}}</a>
				    </span>
				{% endif %}

				{% if speaker.contact_phone %}
				    <span class="contact" itemprop="telephone">
				    	<a href="tel:{{speaker.contact_phone}}">{{speaker.contact_phone}}</a>
				    </span>
			    {% endif %}

				{% if speaker.contact_twitter %}
			    <span itemprop="twitter"><a href="http://twitter.com/{{speaker.contact_twitter}}">@{{speaker.contact_twitter}}</a></span><br/>
		        {% endif %}
	        {% endif %}


	        <h3>Also by {{page.speaker}}</h3>
	        {% assign sermons_empty = true %}
	        <ul class="sermon-list sermon-related">
			    {% for post in site.posts limit:500 %}
				  	{% if post.speaker == page.speaker and post.url != page.url %}
				  		{% assign sermons_empty = false %}
					    <li class="sermon-short">
					        {% if post.title != "" %}
					      		<a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
				        	{% else %}
					            <a href="{{ post.url }}">{{ post.date | date_to_string }}</a>
					        {% endif %}
					    </li>
					{% endif %}
			    {% endfor %}
			    {% if sermons_empty %}
			    	<li>No other sermons by {{page.speaker}}</li>
			    {% endif %}
			</ul>

		</div>
		{% endif %}
	</div>
</div>
