---
layout: page
title: "APCM 2014"
contacts: ["Malcolm Harper"]
---
##Annual Parochial Church Meeting 2014
The Annual Parochial Church Meeting was held<br>
on Thursday, 27th February 2014<br>
in St Mary's Church, Cogges.

###Agenda and papers for APCM 2014 
Full details of the meeting of parishioners and the Annual Parochial Church Meeting, together with various written reports, can be found
from the original ['Agenda and papers for APCM 2014'](test_agenda.html) for the meeting.

##Meeting Report
###The formal meeting:
Agenda<br>
([enclosed]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Agenda.pdf"|replace:" ","%20"}} "Opens link to the 'APCM - Agenda' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">)

The meeting was recorded and the following audio clips and presentation slides are available:
* Full recording of the meeting.
The above includes:
- Annual Report and Financial Statements
- Churchwardens’ report on fabric etc

###Presentations:
1. Ministry Hubs:<br>
 a. Children's Hub<br>
 b. Social Activities & Special Events Hub<br>
 c. Outreach & Evangelism Hub

2. The Vicar, Rev Simon Kirby
