---
layout: page
title: "APCM 2014"
contacts: ["Malcolm Harper"]
---
##Annual Parochial Church Meeting 2014
The Annual Parochial Church Meeting was held<br>
on Thursday, 27th February 2014<br>
in St Mary's Church, Cogges.

###Agenda and papers for APCM 2014 
Full details of the meeting of parishioners and the Annual Parochial Church Meeting, together with various written reports, can be found
from the original [Agenda and papers for APCM 2014](test_agenda.html "Opens link to the 'Agenda and papers for APCM 2014' page") for the meeting.

##Meeting Report
###The formal meeting:
Agenda ([enclosed]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Agenda.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - Agenda' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">)

The meeting was recorded and the following audio clips and presentation slides are available:<br>
Full recording of the meeting (23 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Meeting.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Meeting.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - Meeting.mp3' audio file.")

The above includes:<br>
&nbsp;a. Annual Report and Financial Statements by Keith Harwood (6 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Treasurer'sReport.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Treasurer'sReport.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - Treasurer'sReport.mp3' audio file.")
- [Presentation Slides]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - FinancialStatements.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - FinancialStatements' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">

&nbsp;b. Churchwardens’ Report on fabric etc. by Heather McCulloch and Richard Osman (4 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - ChurchWarden'sReport.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - ChurchWarden'sReport.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - ChurchWarden'sReport.mp3' audio file.")

###Presentations:
1. Ministry Hubs:<br>
a. Children's Hub by Mel Sayles (8 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Children'sHub.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Children'sHub.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - Children'sHub.mp3' audio file.")
- [Presentation Slides]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Children'sHub.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - Children's Hub' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">

&nbsp;b. Social Activities & Special Events Hub by Alison Hall (9 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - SocialActivities_and_SpecialEventsHub.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - SocialActivities_and_SpecialEventsHub.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - SocialActivities_and_SpecialEventsHub.mp3' audio file.")
- [Presentation Slides]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - SocialActivities_and_SpecialEventsHub.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - SocialActivities_and_SpecialEventsHub' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">

&nbsp;c. Outreach & Evangelism Hub by Rich White (8 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Outreach_and_EvangelismHub.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Outreach_and_EvangelismHub.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - Outreach_and_EvangelismHub.mp3' audio file.")
- [Presentation Slides]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Outreach_and_Evangelism.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - Outreach_and_Evangelism' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">


2 - The Vicar's Report by Rev Simon Kirby (36 minutes):
- listen now: <audio src="{{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Vicar'sReport.mp3"|replace:" ","%20"}}" type="audio/mpeg"></audio>
- [download audio file: ]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Vicar'sReport.mp3"|replace:" ","%20"}} "'2014-02-27 APCM - Vicar'sReport.mp3' audio file.")
- [Presentation Slides]({{"http://media.coggesparish.com/apcm/2014/2014-02-27 APCM - Simon'sPresentation.pdf"|replace:" ","%20"}} "Opens link to the '2014-02-27 APCM - Simon'sPresentation' pdf document." target="_blank") <img src="http://media.coggesparish.com/img/pdf.gif" alt="pdf document">

Updated 6th March 2014.
